<h1 align="center">Lists Of Articles</h1>
	
	<% @articles.each do |t| %>
   <div class="row">
	   <div class="col-xs-8 col-xs-offset-2">
		   <div class="well well-lg">
			   <div class="article-title">
				   <%= link_to t.title, article_path(t) %>
			   </div>
			   <div claass="article-body">
				   <%= truncate(t.description, length: 100) %>
				   <div class="article-meta-details">
				   <small>Created by: <%= t.user.username if t.user%>,

                            <%= time_ago_in_words(t.created_at) %> ago,

                             last updated: <%= time_ago_in_words(t.updated_at) %> ago</small>
			   </div>
			   </div>
		     <div class="article-actions">
               <%= link_to "Edit this article", edit_article_path(t), class:"btn btn-xs btn-primary" %> 
		       <%= link_to "Dlete this article", article_path(t), method: :delete, data: {confirm:"are you sure to delete this article"}, class:"btn btn-xs btn-danger" %>
	         </div>
		   </div>
	   </div>
</div>

		
	<% end %>

			   
			   
			   
			   
			   
			   <style>
.article-actions{
  border-top: 1px solid #eaeaea;
	padding: 5px;

}
	
	.description {
		
		margin-top: 0px;
	}
		
				   .article-meta-details {

border-top: 1px solid #eaeaea;

margin-top: 15px;

}
				   .article-title {
					   
					   font-weight: bold;
					   font-size: 1.5em;
					   text-transform: uppercase;
				   } 
				   .article-body{
					   
					   border-top: 1px solid #eaeaea;
					   padding-top: 15px;
					   padding-bottom: 15px;
				   }
</style>